.l-sidebar

.l-main-content
  %h3.m-headline Interaktiver Stimmzettel
  %h2.m-headline Sie haben 2 Stimmen
  .m-stimmzettel
    .m-stimmzettel--first-vote
      .m-stimmzettel--headline Erststimme
      .m-politican-list
        .m-politican
          .m-politican--number 1
          .m-politican--person
          .m-politican--voting
            = link_to "" do
              .m-politican--voting--button
    .m-stimmzettel--second-vote
      .m-stimmzettel--headline Zweitstimme
      .m-politican-list
        .m-politican_blue
          .m-politican--voting
            = link_to "" do
              .m-politican--voting--button
          .m-politican--person
          .m-politican--number 1

